<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />

  <title>
    {{ site_title }} 
    {% if current_page.title%}
      | {{ current_page.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="initial-scale=1">

  <link rel="stylesheet" href="{{ theme_url }}/base.css" type="text/css" />
  <link rel="stylesheet" href="{{ theme_url }}/nav.css" type="text/css" />
  <link rel="stylesheet" href="{{ theme_url }}/fonts.css" type="text/css" media="none" onload="if(media!='all')media='all'" />

  {% block styles %}
  {% endblock %}
</head>

<body>

  <nav>
    {% block mainnav %}
    {% endblock %}

    {% block subnav %}
    {% endblock %}
  </nav>

  {% block content %}
  {% endblock %}

</body>
</html>