<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>
      {{ site_title }}
    </title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}

    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
</head>

<body>
<div class="grid">

  <nav id="nav">
    <h1 id="logo">Claus</h1>

    <ul id="main">
      <li><a href="/aboutme/">About Me</a></li>
      <li><a class="active">Portfolio<a/></li>
    </ul>

    <ul class="sub">
      {% for p in pages|only('portfolio')|sort_by(['meta','pos']) if p.meta.category_title %}
        <li>
          <a href="{{ p.id|replace({'index':''})|link }}" {% if meta.category_title == p.meta.category_title %}class="active"{% endif %}>
            {{ p.meta.category_title }}
          </a>
        </li>
      {% endfor %}
      </ul>
  </nav>
  
    {# loop projects #}

  {% for p in pages|only(current_page.id|replace({'/index': ''})) if "index" not in p.id %}
    <a href="{{ p.id|link }}" class="project" style="background-image: url('/assets/{{ p.meta.category|replace({' ':''})|lower }}/{{ p.meta.coverimg }}');">
      <h1><span>{{ p.title }}</span></h1>
      {% if meta.category_title == "All" %}<span class="cat">{{ p.meta.category }}</span>{% endif %}
    </a>
  {% endfor %} 


</div> <!-- end grid wrapper -->

<div class="background"></div>
</body>
</html>
