{% extends "base.twig" %}


{% block meta %}
  <meta name="description" content="" />
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="{{ theme_url }}/portfolio.css" type="text/css" />
{% endblock %}


{% block mainnav %}
  <ul class="main">
    <li><a href="/aboutme/"><span>Claus</span></a></li>
    <li><a class="active"><span>Portfolio</span></a></li>
  </ul>
{% endblock %}


{% block subnav %}
  <ul class="categories">
    {% for p in pages|only('portfolio')|sort_by(['meta','pos']) if p.meta.index %} 
      <li>
        <a href="{{ p.id|replace({'index':''})|link }}" {% if meta.category == p.meta.category %}class="active"{% endif %}>
          {{ p.meta.category }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


{% block content %}
<main class="grid"> 
  {# LOOP PROJECTS #}
  {% for p in pages|only(current_page.id|replace({'/index': ''})) if "index" not in p.id %}
    <a href="{{ p.id|link }}" class="project">
      <figure>
        {% if p.meta.coverimg %}
          {% set current_dir = "/assets/" ~ p.meta.category|replace({' ':''})|lower ~ "/" %}
        <img 
          src="{{ current_dir ~ p.meta.coverimg }}" 
          {# src="{{ current_dir ~ p.meta.coverimg|replace({'.jpg':'.svg'})|replace({'.png':'.svg'}) }}"  #}
          alt="" />
        {% endif %}
        <figcaption>
          <h1>{{ p.title }}</h1>
          {% if meta.category == "All" %}<h2>{{ p.meta.category }}</h2>{% endif %}
        </figcaption>
      </figure>
    </a>
  {% endfor %}
</main>
{% endblock %}
