<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>
      {% if meta.title %}
        {{ meta.title }} |
        {% endif %}
      {{ site_title }}
    </title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}

    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>

<body>
<div class="grid">

  <nav id="nav">
    <h1 id="logo">Claus</h1>
<!-- STATIC -->
    <ul id="main">
      <li><a href="">About me</a></li>
      <li><a class="active">Portfolio<a/></li>
    </ul>
<!-- ADD CLASS .ACTIVE CONDITIONAL -->
    <ul class="sub">
      <li>
        <a href="/portfolio" {% if meta.title|lower == "all" %} class="active" {% endif %}>All</a></li>
      {% for cat in categories %}
        <li>
          <a
            href="{{ cat.pages[1].url }}"
            {% if cat.title == current_page.title %}
              class="active"
            {% endif %}
          >
            {{ cat.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>


  {% for cat in categories if cat.title == current_page.title %}  <!-- loop only current category -->
    {% for p in cat.pages if p.meta.position != 1 %}              <!-- loop all pages except index -->
      <a href="" class="project" style="background-image: url('/assets/{{cat.title}}/{{p.meta.coverimg}}');">
        <h1><span>{{p.title}}</span></h1>
      </a>
    {% endfor %}
  {% endfor %}

<!-- TO DO: SORTEER OP DESCENDING DATE -->
  {% if current_page.title|lower == "all" %}
    {% for cat in categories %}
      {% for p in cat.pages if p.meta.position != 1 %}
        <a href="" class="project" style="background-image: url('/assets/{{cat.title}}/{{p.meta.coverimg}}');">
          <h1><span>{{p.title}}</span></h1>
          <h2><span>{{ p.meta.category }}</span></h2>
        </a>
      {% endfor %}
    {% endfor %}
  {% endif %}

</div> <!-- end grid wrapper -->

<div class="background"></div>
</body>

</html>
