<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />

    <title>
      {% if meta.title %}
        {{ meta.title }} |
        {% endif %}
      {{ site_title }}
    </title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}

    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
</head>

<body>
<div class="grid">

  <nav id="nav">
    <h1 id="logo">Claus</h1>

    <ul id="main">
      <li><a href="">About me</a></li>
      <li><a class="active">Portfolio<a/></li>
    </ul>

    <ul class="sub">
      <li>
        <a href="/portfolio" {% if meta.title|lower == "all" %} class="active" {% endif %}>All</a></li>
      {% for cat in categories %}
        <li>
          <a
            href="{{ cat.pages[1].url }}"
            {% if cat.title == current_page.title %}
              class="active"
            {% endif %}
          >
            {{ cat.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% if current_page.title|lower != "all" %}
    {% for cat in categories if cat.title == current_page.title %}  <!-- loop only current category -->
      {% for p in cat.pages if not p.meta.category_title %}              <!-- loop all pages except index -->
        <a href="{{p.url}}" class="project" style="background-image: url('/assets/{{cat.title|replace({' ':''})|lower}}/{{p.meta.coverimg}}');">
          <h1><span>{{p.title}}</span></h1>
        </a>
      {% endfor %}
    {% endfor %}
  {% else %}

<!-- ALL (TO DO: SORTEER OP DESCENDING DATE) -->

      {% for p in pages|sort_by("date") if not p.meta.category_title and p.meta.category %}
        <a href="{{p.url}}" class="project" style="background-image: url('/assets/{{p.meta.category|replace({' ':''})|lower}}/{{p.meta.coverimg}}');">
          <h1><span>{{p.title}}</span></h1>
          <h2><span>{{ p.meta.category }} | {{ p.date }}</span></h2>
        </a>

    {% endfor %}
  {% endif %}

</div> <!-- end grid wrapper -->

<div class="background"></div>
</body>

</html>
