{% extends "base.twig" %}


{% block styles %}
  <link rel="stylesheet" href="{{ theme_url }}/portfolio.css" type="text/css" />
{% endblock %}


{% block mainnav %}
  <ul id="main">
    <li><a href="/aboutme/">About me</a></li>
    <li><a class="active">Portfolio<a/></li>
  </ul>
{% endblock %}


{% block subnav %}
  <ul class="categories">
    {% for p in pages|only('portfolio')|sort_by(['meta','pos']) if p.meta.index %} 
      <li>
        <a href="{{ p.id|replace({'index':''})|link }}" {% if meta.category == p.meta.category %}class="active"{% endif %}>
          {{ p.meta.category }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


{% block content %}
  {# LOOP PROJECTS #}

  {# BACKGROUND IMAGE #}
{#   {% for p in pages|only(current_page.id|replace({'/index': ''})) if "index" not in p.id %}
    <a href="{{ p.id|link }}" class="project" style="background-image: url('/assets/{{ p.meta.category|replace({' ':''})|lower }}/{{ p.meta.coverimg }}');">
      <h1><span>{{ p.title }}</span></h1>
      {% if meta.category == "All" %}<span class="cat">{{ p.meta.category }}</span>{% endif %}
    </a>
  {% endfor %}  #}


  {# INLINE IMAGE #}
  {% for p in pages|only(current_page.id|replace({'/index': ''})) if "index" not in p.id %}
    <a href="{{ p.id|link }}" class="project">
      <figure>
        <h1>{{ p.title }}</h1>
        <img src="/assets/{{ p.meta.category|replace({' ':''})|lower }}/{{ p.meta.coverimg }}" width="250" alt=""/>
        {# {% if meta.category == "All" %} #}
          <figcaption>
            <ul>
              <li>{{ p.meta.category }}</li> 
              <li>{{ p.meta.date }}</li>
              <li>In collaboration with <em>Theresa Vermeulen</em></li>
              <li>Client: <em>Danesh Smith</em></li>
            </ul>
          </figcaption>
        {# {% endif %}  #}
      </figure>
    </a>
  {% endfor %}

  <div id="preload">
    {% for p in pages|only(current_page.id|replace({'/index': ''})) if "index" not in p.id %}
      <img src="/assets/{{ p.meta.category|replace({' ':''})|lower }}/{{ p.meta.coverimg }}" />
    {% endfor %}
  </div>
{% endblock %}
