{% extends "portfolio.twig" %}


{% block styles %}
  <link rel="stylesheet" href="{{ theme_url }}/page.css" type="text/css" />
{% endblock %}


{% block javascript %}
{% endblock %}

{% block mainnav %}
 {{ parent() }}
{% endblock %}


{% block subnav %}
  {{ parent() }}
{% endblock %}


{% block content %}
  <section class="content">
  	<p>
  		<script>
    		document.write('<a href="' + document.referrer + '">← Go Back</a>');
			</script>
		</p>
		<p class="meta">
      {{ meta.date_formatted }}<br />
      {% if meta.collab %} In collaboration with: <em>{{ meta.collab }}</em>.{% endif %}
    </p>
    {{ content }}
  </section>
{% endblock %}
