{% extends "portfolio.twig" %}


{% block styles %}
  <link rel="stylesheet" href="{{ theme_url }}/page.css" type="text/css" />
{% endblock %}


{% block javascript %}
  <script> 
    // Bug in Safari: no image repaint after resetting width
    // document.addEventListener(
    //   "DOMContentLoaded", function(event) {
    //     document.querySelectorAll('img').forEach(
    //       function(img) {
    //         img.style.cursor = 'pointer';
    //         var x = window.getComputedStyle(img).getPropertyValue('width');
    //         img.onclick = function() {
    //           if (this.style.width != '100vw') {
    //             this.style.width = '100vw';
    //           }
    //           else {
    //             this.style.width = x;
    //           };
    //         };
    //       }
    //     )
    //   }
    // );
  </script>
{% endblock %}


{% block content %}
  <main class="content">
  	<p>
  		<script>
    		document.write('<a href="' + document.referrer + '">← Go Back</a>');
			</script>
		</p>
		<p class="meta">
      <time>{{ meta.date|date("F Y") }}</time> {% if meta.tags %} | 
      {{ meta.tags }} {% endif %}<br /> {# http://be2.php.net/manual/en/function.date.php #}
      {% if meta.collab %} In collaboration with {{ meta.collab }}.{% endif %}
    </p>
    {{ content }}
  </main>
{% endblock %}
