<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />

  <title>
    Project Template
  </title>

  <style type="text/css">
    body {font-family: Arial, sans-serif;}
  </style>
</head>

<body>

  <p>
    {{ site_title }}<br />
    {{ theme_dir }}<br />
    {{ current_page.id }}<br />
    {{ meta.title }}<br />
    {{ meta.date_formatted }}
  </p>
    <hr />
  {{ content }}
</body>

</html>
