<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />

  <title>
    Project Template
  </title>
</head>

<body>

  <p>
    {{ site_title }}<br />
    {{ theme_dir }}<br />
    {{ current_page.id }}<br />
    {{ meta.title }}
  </p>
    <hr />
  {{ content }}
</body>

</html>
